@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --variables-go-here: true;
  --another-variable: true;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background:#0097A7;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%; 
}
